.container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
}

h2 {
  font-size: 1rem;
  text-align: center;
}

.container a {
  font-size: 1.4rem;
}

h1 {
  text-align: center;
}

div {
  text-align: center;
}

button {
  height: 50px;
  width: 100px;
  margin: 20px;
  font-weight: bold;
  color: orange;
  background-color: blue;
}

.big {
  font-size: 1.2rem;
}
